@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 16pt;
  color: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:  url("./components/Assets/Image/starrynight.jpg");
}

body {
  background-color: rgb(2, 37, 62);
  color: aliceblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
  margin: 0;
}

.temp {
  font-size: 32pt;
  text-align: center;
  padding: 50px;
  background-color: rgba(83, 157, 226, 0.418);
  margin-inline: auto;
  width: 35%;
  border-radius: 50px;
}