@font-face {
	font-family: TiltP;
	src: url("../Assets/Font/TiltFont.ttf");
}

.main-navigation__title {
	color: white;
	font-family: "TiltP";
	font-size: 200%;
}

.main-navigation__title a {
	text-decoration: none;
	color: white;
}

.main-navigation__header-nav {
	display: none;
}

.main-navigation__drawer-nav {
	height: 100%;
}

@media (min-width: 768px) {
	.main-navigation__menu-btn {
		display: none;
	}

	.main-navigation__header-nav {
		display: block;
	}
}
nav {
	margin: 0 2rem;
}